body {
  background-color: orange;
  color: White;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  padding: 8px;
}

h2 {
  margin: 10px 30px;
  text-align: center;
}

.container {
  background-color: yellowgreen;
  padding: 20px;
  width: 500px;
  max-width: 100%;
}

.result-container {
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100%-40px);
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.btn {
  border: none;
  background-color: pink;
  color: whitesmoke;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
